{% extends 'base.html' %}

{% block content %}
<div class="col-md-8">
 
  <div class="row">
    <div class="col-xs-4 text-center">
      <h2><strong>1</strong></h2>
      {% include 'apply-online.svg' %}
      <p class="alt-color"><strong>APPLY ONLINE</strong></p>
    </div>
    <div class="col-xs-4 text-center">
      <h2><strong>2</strong></h2>
      {% include 'we-search-lenders.svg' %}
      <p class="alt-color"><strong>WE SEARCH LENDERS</strong></p>
    </div>
    <div class="col-xs-4 text-center">
      <h2><strong>3</strong></h2>
      {% include 'receive-cash.svg' %}
      <p class="alt-color"><strong>RECEIVE CASH<sup>1</sup></strong></p>
    </div>

  </div>





  <h1>Looking for - <strong><span class='replace-seed-value'>A Flexible Loan</span></strong></h1>
  <h2>Let us help you to find - <strong><span class='replace-seed-value'>A Flexible Loan.</span></strong></h2>
  <h3><strong>Our loans range from 3 to 36 months and allow you to borrow up to £5000.</strong></h2>

  <p>They fill a gap in the market left by both traditional bank overdrafts as well as unsecured loans.</p>

  <p>The reason customers like our loans is simple: they can apply from the comfort of their own home; the
  application is simple, fast and online and the decision is instant. The real plus is that unlike a bank
  we are open 24 hours a day seven days a week: even on weekends.</p>

  <p>By using some of the most sophisticated matching technology in the market we make sure we fit the right
  lender to your loan application ensuring a very high success rate.</p>

  <p>So whether it is a new car, home improvement or just an unexpected bill you have to pay rest assured we
  have a loan solution for you that is quick and easy. Best of all we do not charge fee’s and offer an
  exceptional customer service. Try us and see; we hope we can exceed your expectations.</p>

</div>
{% endblock %}

